*{
    margin: 0;
    padding: 0;
}

nav{
    position: absolute;
    padding: 10px;
    height: 65px;
    width: 100%;
    background: linear-gradient(135deg,#595959,#464646);
    align-items: center;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
}
nav a.home,
nav a.projects{
    text-decoration: none;
    color: #ffffff;
    font-size: 25pt;
}

body{
    background: #424242;
}

.container{
    position: fixed;
    top: 85px;
    color: #ffffff;
}