*{
    margin: 0;
    padding: 0;
}

:root {
  --button-height: 20vw;
  --button-width: var(--button-height);
}

nav{
    position: absolute;
    /* padding: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    height: 65px;
    width: 100%;
    background: linear-gradient(135deg,#595959,#464646);
    align-items: center;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
}
nav a.home,
nav a.projects{
    text-decoration: none;
    color: #ffffff;
    font-size: 25pt;
}

nav a.home{
    padding-left: 25%;
}

nav a.projects{
    padding-right: 25%;
}

nav a.projects:hover{
    text-decoration: underline;
    color: #ffffff;
}

nav a.home:hover{
    text-decoration: underline;
    color: #ffffff;
}

body{
    background: #424242;
}

.container{
    position: fixed;
    top: 85px;
    color: #ffffff;
    display: grid;
    grid-row: 1;
    grid-template-columns: 2, 50%;
    grid-template-areas: "sc kr";
}

a.si{
    grid-area: sc;
}

a.kri{
    grid-area: kr;
}

.scratch{
    content: 'Scratch';
    position: fixed;
    left: 25%;
    height: var(--button-height);
    width: var(--button-width);
    border-radius: 25px;
    /* background-image: url(images/scratch.png); */
    background-position: -50px -33px;
    background-color: transparent;
    background: #ffb300;
}

.icon:hover{
    scale: 110%;
    box-shadow: 4px 4px 4px #252525;
}

.krunker{
    content: 'Krunker';
    position: fixed;
    right: 25%;
    height: var(--button-height);
    width: var(--button-width);
    border-radius: 25px;
    background: #000dff;
}

button{
    border: 0;
}
